*{
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-weight:500;
  font: size 16px;
  color:black;
  text-decoration:none;
}

footer{

  
  padding: 30px 10%;
  color: rgba(128,128,128,0.5);

}

#blog{
 margin-top: 250px;
}

header{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:30px 10%;
  flex-wrap: wrap;
}
.logo {
  transition: all 0.6s ease 0s;

}


.logo:hover {
  cursor:pointer;
  transform: scale(1.2);
  transform:rotate(-10deg);
}

.nav_links {
  list-style:none;
  
}

.nav-links li{
  display: inline-block;
  padding: 0px 20px;
  flex-wrap: wrap;
}

.nav-links li a {
  transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
  color: gray;

}

button {
  padding: 10px 30px;
  background-color: black;
  color:white;
  border-radius: 50px;
  transition: all 0.3s ease 0s;
  border:none;
}

button:hover {
  background-color: rgba(169,169,169,0.7);
  color:black;
}

.nav {
  color:darkgray;
  font-size: 200%;
}

.dev {
  color: black;
  text-align: center;
  

}






.gallery-section{
  width: 100%;
  padding: 5px 0px;
  background: #f1f1f1;
}

.inner-width{
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 0 40px;
}

.gallery-section h2{
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-weight:400;
  color: black;
  padding: 50px;
}



.gallery-section .gallery{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gallery-section .jsgallery{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin:auto;
}



.gallery-section .image{
  flex: 25%;
  overflow: hidden;
  cursor: pointer;
} 

.gallery-section .nohov-img{
  flex: 25%;
  overflow: -moz-hi;
  cursor: pointer;
}

.gallery-section .nohov-img img{
  width: 100%;
  height: 100%
}

.text-box {
  background-color: white;
  width:75%;
  padding:30px;
  margin:auto;
  margin-top: 20px;
  margin-left: auto;
  margin-right:auto;
  margin-bottom: 20px;
  border-radius: 20px;
}

.gallery-section .image img{
  width: 100%;
  height: 100%;
  transition: 2s;
}

.gallery-section .image:hover img{
  transform: scale(1.1);

}

.content {
  position: relative;
  width: 90%;
  max-width: 400px;
  margin: auto;
  overflow: hidden;
}

.content .content-overlay {
  background: rgba(0,0,0,0.7);
  position: absolute;
  height: 99%;
  width: 100%;
  left: 50;
  top: 50;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.6s ease-in-out 0s;
  -moz-transition: all 0.6s ease-in-out 0s;
  transition: all 0.6s ease-in-out 0s;
}

.content:hover .content-overlay{
  opacity: 1;
}

.content-image{
  width: 100%;
}

.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.6s ease-in-out 0s;
  -moz-transition: all 0.6s ease-in-out 0s;
  transition: all 0.6s ease-in-out 0s;
}

.content:hover .content-details{
  top: 50%;
  left: 50%;
  opacity: 1;
}

.content-details h3{
  color: #fff;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

.content-details p{
  color: #fff;
  font-size: 0.8em;
}

.fadeIn-bottom{
  top: 80%;
}

@media screen and (max-width:960px) {
  .gallery-section .image{
    flex: 33.33%;
  }
}

@media screen and (max-width:768px) {
  .gallery-section .image{
    flex: 50%;
  }
}

@media screen and (max-width:480px) {
  .gallery-section .image{
    flex: 50%;
  }
}

@media screen and (max-width:960px) {
  .gallery-section .nohov-img{
    flex: 33.33%;
  }
}

@media screen and (max-width:768px) {
  .gallery-section .nohov-img{
    flex: 50%;
  }
}

@media screen and (max-width:480px) {
  .gallery-section .nohov-img{
    flex: 50%;
  }
}
